/* Global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.container-ajax {
  display: flex;
}

.ajax {
  display: inline-block;
}

/* Style for News Section */

.masthead {
  width: 100vw;
  height: 20rem;;
  background: #ffc107;
  text-align: center;
  margin-bottom: 8rem;
  color: #fff;
}

h1 {
  margin: 0;
  padding-top: 5rem;
}

.contaniner {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
}

.input-value {
  margin-right: 2rem;
}

/* Style for article section*/

.container {
  text-align: center;
  font-size: 2rem;
  border: 1px solid #000;
  margin-bottom: 2rem;
}

.title {
  width: 100%;
}

.imgClass {
  /* width: 40%; */
  display: inline-block;
  margin-right: 2rm;
}

.articleClass {
  width: 60%;
  margin-bottom: 2rem;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}